<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>父子组件</title>
  </head>
  <body>
    <div id="app">
      <!-- <cpn2></cpn2> -->
      <!-- <parent-cpn></parent-cpn> -->
      <cpn-child 
        :ctitle="title" 
        :ccontent="content" 
        :cfruitlist="fruitList"
        @itemclick="itemClick"
        @cinputchange="inputchange"
        @cinputchange2="inputchange2"></cpn-child>
      <p>app的title值：{{title}}</p>
      <p>app的content值：{{content}}</p>
    </div>

    <template id="childTemplate">
      <div>
        <h2>{{ctitle}}</h2>
        <p>
          <h4>{{ccontent}}</h4>
          <ul>
            <li v-for="(fruit,index) in cfruitlist" @click="liClick(fruit)">{{index+1}}.{{fruit}}</li>
          </ul>
        </p>
        <!--组件双向绑定：
          方法一：
          1.官方不建议直接props内的值(cv)进行双向绑定
          2.做的时候在组件data内部定义一个值（dv）等于cv，以此作为媒介，
            用data内的值进行双向绑定，当值变化时，将利用组件通信改变父组件内传值给cv的变量(v)的值来达到改变cv值的目的，
            从而实现组件内输入框值的双向绑定
          方法二：
          原理是一样的，利用watch属性，但是可以直接使用v-model,而不用将其拆分
        -->
        <input type="text" :value="dtitle" @input="cInputChange"/>
        <p>props-title：{{ctitle}}</p>
        <p>data-title：{{dtitle}}</p>
        <input type="text" v-model="dcontent"/>
        <p>props-content：{{ccontent}}</p>
        <p>data-content：{{dcontent}}</p>
        </div>
    </template>
  
    <!-- <template id="parentTemplate">
      <div>
        <h2>我是父组件标题</h2>
        <p>我是父组件内容</p>
        <child-cpn></child-cpn>
      </div>
    </template> -->
  
    <script src="../../common/vue/vue.js"></script>
    <script>
    // //子组件
    // Vue.component('child-cpn',{
    //   template:'#childTemplate'
    // })
  
    // //父组件
    // Vue.component('parent-cpn',{
    //   template:'#parentTemplate',
    // })

    //子组件
    const cpnC1=Vue.extend({
      template:`
        <div>
        <h2>我是标题</h2>
        <p>我是内容</p>
        </div>
      `
    })

    //父组件
    const cpnC2=Vue.extend({
      template:`
        <div>
          <cpn></cpn>
          <h2>我是标题2</h2>
          <p>我是内容2</p>
        </div>
      `,
      components:{
        cpn:cpnC1
      }
    })

    /*父子组件通信
      父→子传数据：props
      子→父传数据：$emit
    */
    //可以将Vue看成一个root组件
    const app=new Vue({
      el:'#app',
      data:{
        title:'组件通信标题',
        content:'组件通信内容',
        fruitList:['苹果','香蕉','梨'],
      },
      methods:{
        itemClick(item){
          alert('子组件'+item+'被点击')
        },
        inputchange(value){
          this.title=value;
        },
        inputchange2(value){
          this.content=value;
        }
      },
      components:{//vue在使用cpn2组件时，cpn2已经被编译好了，不存在cpn1了，而cpn1由于未在Vue中注册，因此不能直接使用
        cpn2:cpnC2,
        cpnChild:{
          template:'#childTemplate',
          //props:['ctitle','ccontent'],//可以是数组类型
          props:{//也可以是对象类型
            ctitle:{
              default:'',   //默认值
              type:String,   //类型
              required:true,  //是否必传，如果不传控制台会报提示
              validator(value){ //自己添加验证函数
                return value.length<10;  //标题长度小于5
              }
            },
            ccontent:{
              default:'',
              type:String,
            },
            cfruitlist:{
              default(){  //类型是对象或者数组时，默认值必须是一个函数
                return [];
              },
              type:Array
            }
          },
          data(){
            return{
              dtitle:this.ctitle,
              dcontent:this.ccontent
            }
          },
          methods:{
            liClick(item){  //子传父通过自定义事件
              this.$emit('itemclick',item);
            },
            cInputChange(){
              this.dtitle=event.target.value;
              this.$emit('cinputchange',this.dtitle);
            }
          },
          watch:{//监听属性的改变，哪个属性改变，就直接写哪个属性
            dcontent(newValue){
              this.$emit('cinputchange2',newValue);
            }
          }
        }
      },
    })
    </script>
  </body>
</html>