<!--指示web浏览器关于页面使用哪个HTML版本进行编写的指令-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Vue页面3</title>
  </head>
  <body>
    <div id="app">
      <h2>v-if、v-else-if、v-else</h2>
      <h4 v-if="isShow">isShow为true</h4>
      <h4 v-else>isShow为false</h4>
      <div>
          <h4 v-if="score>=90">优秀</h4>
          <h4 v-else-if="score>=80">良好</h4>
          <h4 v-else-if="score>=60">及格</h4>
          <h4 v-else>不及格</h4>
      </div>

      <div>
        <span v-if="isUser">
          <label for="userName">用户账号</label>
          <input type="text" placeholder="用户账号" id="userName" key="userName">
        </span>
        <span v-else>
          <label for="email">用户邮箱</label>
          <input type="text" placeholder="用户邮箱" id="email" key="email">
        </span>
        <button @click="changeLoginType">切换类型</button>
      </div>
      <div>
        <p>问题：这里切换类型时，发现之前输入框输入的文字依然显示在输入框，明明是两个id不同的输入框，为什么会出现这样的问题呢？</p>
        <p>解答：因为Vue在进行DOM渲染时，会先抽象成虚拟DOM（vdom），再渲染到浏览器，出于性能考虑，会尽可能复用已经存在的元素，而不是重新创建新的元素。在上面的案例中，Vue内部会发现原来的input元素不再使用，直接作为else中的input来使用了。</p>
        <p>解决方案：给对应的input添加key</p>
      </div>

      <div>
        v-if和v-show的区别：
        <!--
          v-if:当条件为false时，包含v-if指令的元素，不会渲染在DOM中
          v-show:当条件为false，包含v-show指令的元素还存在DOM中，只是将样式display设置为none
        -->
        <h4 v-if="isShow">isShow为true</h4>
        <h4 v-show="isShow">isShow为true</h4>
      </div>
    </div>

    <script src="../../common/vue/vue.js"></script>
    <script>
      const app=new Vue({
        el:'#app',
        data:{
          isShow:true,
          score:80,
          isUser:true
        },
        methods:{
          changeLoginType(){
            this.isUser=!this.isUser;
          }
        }
      })
    </script>
  </body>
</html>